<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>developer-id</string>
	<key>teamID</key>
	<string>A4R63LAVLS</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Developer ID Application</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.MichaelJancsy.BearBone</key>
		<string>com.MichaelJancsy.BearBone Provisioning Profile</string>
		<key>com.MichaelJancsy.BearBone.BearBoneExtension</key>
		<string>com.MichaelJancsy.BearBone.BearBoneExtension</string>
	</dict>
</dict>
</plist>
